* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('background1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

/* .container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6); /* Add a translucent background to the container */
   /* border-radius: 10px;
} 
*/

header {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    color: #fff;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav .menu li {
    display: inline;
}

nav .menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav .menu li a:hover {
    background: #575757;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #ccc;
}

.btn {
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: orange;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

.btn:hover {
    background: #ff8800;
}

footer {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
